@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="text-center">
    <h2  style="font-family:Garamond; font-weight:bold">Novedades</h2>
    <div id="carouselExampleControls" class="carousel slide col-12 col-md-6" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://m.media-amazon.com/images/I/51IVjep5aDL._SL500_.jpg" width=530 height=350 alt="producto1">
    </div>
    <div class="carousel-item">
      <img src="https://culturageek.com.ar/wp-content/uploads/2021/06/Culturageek.com_.ar-Xbox-Heladera-1.jpg" width=530 height=350   alt="producto2">
    </div>
    <div class="carousel-item">
      <img src="https://i.blogs.es/e2df15/samsung-galaxy-s22-5g-letsgodigital-00/1366_2000.jpeg" width=530 height=350   alt="producto3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
   

</div>